.App {
  text-align: center;
  background-color: #87ceeb;
  color: #414141;
}

.App-header {
  text-align: center;
  background-color: #414141;
  min-height: 35vh;
  display: block;
  flex-direction: column;
  font-size: calc(15px + 2vmin);
  color: #87ceeb;
  position: relative;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  display: inline-block;
  position: relative;
  top: 1.5vh;
  left: auto;
  right: auto;
}

span {
  display: inline-block;
  position: relative;
  text-shadow: 2px 2px 2px white;
}

#TPS {
  font-size: calc(15px + 3vmin);
}

em {
  text-shadow: none;
  color: white;
  font-size: calc(10px + 1vmin);
}

.align-left {
  float: left;
  left: 2vh;
}

.align-right {
  float: right;
  right: 2vh;
  top: 22vh;
}

.link, li a {
  color: #414141;
  font-weight: bold;
}

.link:hover, li a:hover {
  color: #414141;
  font-size: large;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: block;
}

li {
  float: left;
  display: block;
  position: relative;
  padding-right: 5vh;
  top: 1.5vh;
  left: -5vh;
}

#logo {
  top: .5vh;
  left: -2.5vh;
}

.App-main {
  min-height: 65vh;
  position: relative;
  display: block;
  font-weight: bold;
}

.title {
  font-size: calc(10px + 2vmin);
  text-shadow: 3px 3px 2px #414141;
  color: white;
}

#intro {
  position: relative;
  top: 5vh;
  padding: 50px;
}

.mainP {
  padding: 25px 10vw;
}

.form-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  max-width: 35vw;
  position: relative;
  align-self: center;
  box-shadow: 2px 2px 2px;
}

.message {
  min-width: 50vw;
  min-height: 10vh;
}

#sendMessage {
  background-color: #414141;
  border: none;
  padding: 10px;
}

#sendMessage:hover {
  color: #87ceeb
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-gap: 1vh;
  margin-top: 20px;
}

.image {
  margin: 10px;
  border: 8px #414141 ridge;
  align-self: center;
  height: 50vh;
}

.lastP {
  padding: 25px;
  margin: 0;
}

@import "~bootstrap/scss/bootstrap";
