.App {
  text-align: center;
  background-color: #87ceeb;
  color: #414141;
}

.App-header {
  text-align: center;
  background-color: #414141;
  min-height: 35vh;
  display: block;
  flex-direction: column;
  font-size: calc(15px + 2vmin);
  color: #87ceeb;
  position: relative;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  display: inline-block;
  position: relative;
  top: 1.5vh;
  left: auto;
  right: auto;
}

span {
  display: inline-block;
  position: relative;
  text-shadow: 2px 2px 2px white;
}

#TPS {
  font-size: calc(15px + 3vmin);
}

em {
  text-shadow: none;
  color: white;
  font-size: calc(10px + 1vmin);
}

.align-left {
  float: left;
  left: 2vh;
}

.align-right {
  float: right;
  right: 2vh;
  top: 22vh;
}

.link, li a {
  color: #414141;
  font-weight: bold;
}

.link:hover, li a:hover {
  color: #414141;
  font-size: large;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: block;
}

li {
  float: left;
  display: block;
  position: relative;
  padding-right: 5vh;
  top: 1.5vh;
  left: -5vh;
}

#logo {
  top: .5vh;
  left: -2.5vh;
}

.App-main {
  min-height: 65vh;
  position: relative;
  display: block;
}

#intro {
  position: relative;
  top: 5vh;
}

.title {
  font-size: calc(10px + 2vmin);
  text-shadow: 2px 2px 2px #414141;
  color: white;
}

.mainP {
  padding: 25px 150px;
}

@import "~bootstrap/scss/bootstrap";